<% include header.html %>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">%PRJ_LOGO%</h3>
              <ul class="nav masthead-nav">
                <li><a href="./about">About</a></li>
                <li><a href="./features.html">Features</a></li>
                <li><a href="./contact.html">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover center-block">
            <h1 class="cover-heading">%PRJ_TITLE%</h1>
            <p>%PRJ_TAGLINE_1% </p>
            <form class="form-inline" role="form">
              <input type="text" class="form-control" type="text"     placeholder="Your email" autofocus="autofocus">
              <input type="text" class="form-control" type="password" placeholder="Create a password">
              <button type="button" class="btn btn-success">Sign up</button>
              <button type="button" class="btn btn-default">Sign in</button>
            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> &copy; %PRJ_YEAR% %PRJ_NAME% &middot; <a href="./about.html">About</a> &middot; <a href="./features.html">Features</a> &middot; <a href="./contact">Contact</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
<% include footer.html %>
