<% include header.html %>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%= name %></h3>
              <ul class="nav masthead-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover center-block">
            <h1 class="cover-heading"><%= name %></h1>
            <p><%= tagline %></p>
            <form class="form-inline" role="form" action="/login" method="post">
              <input type="text" class="form-control" name="email"     placeholder="Your email" autofocus="autofocus">
              <input type="password" class="form-control" name="password" placeholder="Create a password">
              <button type="submit" name="sign" value="up" class="btn btn-success">Sign up</button>
              <button type="submit" name="sign" value="in" class="btn btn-default">Sign in</button>
            </form>
            <% include messages.html %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> &copy; <%= year %> <%= name %> &middot; <a href="/about">About</a> &middot; <a href="/features">Features</a> &middot; <a href="/contact">Contact</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
<% include footer.html %>
