<% include header.html %>
  <body>
<% include navbar.html %>
    <div class="container marketing">


      <br />
      <br />
      <br />
      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" data-src="holder.js/256x256/auto" alt="Generic placeholder image">

          <hr>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart-empty"></span>
            <span class="glyphicon glyphicon-heart-empty"></span>
          <hr>
            <ul class="nav nav-pills nav-stacked ">
              <li class="active"><a href="#">Profile</a></li>
              <li><a href="#">Cycles & Circles</a></li>
              <li><a href="#">Newroom</a></li>
              <li><a href="#">Actions</a></li>
            </ul>
        </div>

        <div class="col-md-7">
          <h2 class="user-profile-hd">Virginia <span class="text-muted">Woolf</span></h2>
          <p class="lead">
<dl class="dl-horizontal">
  <dt>Email</dt>          <dd><a href="mailto:vw@gmail.com">virginia@gmail.com</a></dd>
  <dt></dt> <dd>          <a href="mailto:vw@gmail.com">vwf@hotmail.com</a></dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Phone</dt>          <dd>+44 (012) 345 6789</dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Social</dt>         <dd> <span class="glyphicon glyphicon-twitter"></span><a href="#">facebook.com/vwolf</a></dd>
  <dt>      </dt>         <dd> <span class="glyphicon glyphicon-fb"></span><a href="#">twitter.com/vwolf</a></dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Address</dt>        <dd><address> <strong>Hogarth’s House</strong><br> A4 Hogarth Lane, <br> Great West Road, London, W4 2QN UK<br> <abbr title="Phone">P:</abbr>+44 (020) 8994 6757 </address></dd>
  <dt>Birthday</dt>       <dd>Jan. 25th, 1882 <mark>(in 2 weeks)</mark></dd>
  <dt>Married</dt>        <dd>Aug. 10th, 1912 <br/>with Leonard Woolf</dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Likes</dt>          <dd>
                              <span class="label label-success">Porthminster Bay</span> 
                              <span class="label label-success">Vita</span>
                              <span class="label label-success">Writing</span>
                              <span class="label label-success">Dancing</span>
                              <span class="label label-success">Swimming</span>
                          </dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Dosn't Like</dt>    <dd>
                              <span class="label label-danger">Religion</span> 
                              <span class="label label-danger">Christianity</span>
                              <span class="label label-danger">Smalltalk</span>
                              <span class="label label-danger">Departures</span>
                              <span class="label label-danger">Shell Shock</span>
                          </dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Tags</dt>           <dd>
                              <span class="label label-info">Sexual Ambivalence</span> 
                              <span class="label label-info">Nervous Breakdown</span>
                              <span class="label label-info">Biography</span>
                              <span class="label label-info">Rationalism</span>
                              <span class="label label-info">Flux of Time and Life</span>
                              <span class="label label-info">Transformation of Life Through Art</span>
                              <span class="label label-info">Corrosion and Rejuvenation</span>
                              <span class="label label-info">Symbolism</span>
                          </dd>
  <dt><br/></dt>          <dd></dd>
  <dt>History</dt>    <dd><a href="#">Chat on phone</a><small>2 days ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>5 days ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Meeting with Emily Brontë and Katherine Mansfield at UCL</a><small>6 days ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Notes and thoughts</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Post-coffee thoughts</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Coffee at King's Cross</a><small>two weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>two weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Why am I thinking this?</a><small>two weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Lunch at Ye Olde Mitre</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Need to call Virginia!</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>a month ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>six months ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Tiny note</a><small>six months ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>more than six months ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Lunch at Ye Olde Mitre</a><small>over a year ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>over a year ago</small></dd>
  <dt>       </dt>    <dd>  <span class="label label-primary">More..</span> </dd>

</dl>

          </p>
        </div>
      </div>

      <hr>

<% include subfooter.html %>
    </div> <!-- /container -->
<% include footer.html %>
