<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>%PRJ_NAME%</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/carousel.css" rel="stylesheet">
    <link href="../public/css/patch.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="./index.html">%PROJECT_NAME%</a>
            </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-nav" >
            <input type="text" class="topsearch form-control" placeholder="Search..." style="width:350px;">
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Action</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">%PRJ_USR%<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Import/Export</a></li>
                <li class="divider"></li>
                <!-- <li class="dropdown-header">Nav header</li> -->
                <li><a href="#">Settings</a></li>
                <li><a href="#">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div> <!--colapse input-sm -->
      </div>
    </div>

    <!-- Create feed page, with top-level: 1. filters, 2. important notifications (from system) -->

    <div class="container marketing">


      <br />
      <br />
      <br />
      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" data-src="holder.js/256x256/auto" alt="Generic placeholder image">

          <hr>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart"></span>
            <span class="glyphicon glyphicon-heart-empty"></span>
            <span class="glyphicon glyphicon-heart-empty"></span>
          <hr>
            <ul class="nav nav-pills nav-stacked ">
              <li class="active"><a href="#">Profile</a></li>
              <li><a href="#">Cycles & Circles</a></li>
              <li><a href="#">Newroom</a></li>
              <li><a href="#">Actions</a></li>
            </ul>
        </div>

        <div class="col-md-7">
          <h2 class="user-profile-hd">Virginia <span class="text-muted">Woolf</span></h2>
          <p class="lead">
<dl class="dl-horizontal">
  <dt>Email</dt>          <dd><a href="mailto:vw@gmail.com">virginia@gmail.com</a></dd>
  <dt></dt> <dd>          <a href="mailto:vw@gmail.com">vwf@hotmail.com</a></dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Phone</dt>          <dd>+44 (012) 345 6789</dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Social</dt>         <dd> <span class="glyphicon glyphicon-twitter"></span><a href="#">facebook.com/vwolf</a></dd>
  <dt>      </dt>         <dd> <span class="glyphicon glyphicon-fb"></span><a href="#">twitter.com/vwolf</a></dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Address</dt>        <dd><address> <strong>Hogarth’s House</strong><br> A4 Hogarth Lane, <br> Great West Road, London, W4 2QN UK<br> <abbr title="Phone">P:</abbr>+44 (020) 8994 6757 </address></dd>
  <dt>Birthday</dt>       <dd>Jan. 25th, 1882 <mark>(in 2 weeks)</mark></dd>
  <dt>Married</dt>        <dd>Aug. 10th, 1912 <br/>with Leonard Woolf</dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Likes</dt>          <dd>
                              <span class="label label-success">Porthminster Bay</span> 
                              <span class="label label-success">Vita</span>
                              <span class="label label-success">Writing</span>
                              <span class="label label-success">Dancing</span>
                              <span class="label label-success">Swimming</span>
                          </dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Dosn't Like</dt>    <dd>
                              <span class="label label-danger">Religion</span> 
                              <span class="label label-danger">Christianity</span>
                              <span class="label label-danger">Smalltalk</span>
                              <span class="label label-danger">Departures</span>
                              <span class="label label-danger">Shell Shock</span>
                          </dd>
  <dt><br/></dt>          <dd></dd>
  <dt>Tags</dt>           <dd>
                              <span class="label label-info">Sexual Ambivalence</span> 
                              <span class="label label-info">Nervous Breakdown</span>
                              <span class="label label-info">Biography</span>
                              <span class="label label-info">Rationalism</span>
                              <span class="label label-info">Flux of Time and Life</span>
                              <span class="label label-info">Transformation of Life Through Art</span>
                              <span class="label label-info">Corrosion and Rejuvenation</span>
                              <span class="label label-info">Symbolism</span>
                          </dd>
  <dt><br/></dt>          <dd></dd>
  <dt>History</dt>    <dd><a href="#">Chat on phone</a><small>2 days ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>5 days ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Meeting with Emily Brontë and Katherine Mansfield at UCL</a><small>6 days ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Notes and thoughts</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Post-coffee thoughts</a><small>a week ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Coffee at King's Cross</a><small>two weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>two weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Why am I thinking this?</a><small>two weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Lunch at Ye Olde Mitre</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Need to call Virginia!</a><small>three weeks ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>a month ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>six months ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Tiny note</a><small>six months ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Email exchange</a><small>more than six months ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Lunch at Ye Olde Mitre</a><small>over a year ago</small></dd>
  <dt>       </dt>    <dd><a href="#">Chat on phone</a><small>over a year ago</small></dd>
  <dt>       </dt>    <dd>  <span class="label label-primary">More..</span> </dd>

</dl>

          </p>
        </div>
      </div>

      <hr>

      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; %PRJ_YEAR% %PRJ_NAME% &middot; <a href="./home.html">Home</a> &middot; <a href="./about.html">About</a> &middot; <a href="./features.html">Features</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript ||  TODO render via node
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../public/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../public/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
