<% include header.html %>
  <body>
<% include navbar.html %>

    <div class="container marketing">


      <br />
      <br />
      <br />
      <div class="row featurette">
        <div class="col-md-3">
          <hr>
            <h2>Settings</h2>
          <hr>
            <ul class="nav nav-pills nav-stacked ">
              <li class="<%= (stype === 'profile' ? 'active' : '') %>"><a href="/settings/profile">Profile</a></li>
              <li class="<%= (stype === 'account' ? 'active' : '') %>"><a href="/settings/account">Account Settings</a></li>
              <li class="<%= (stype === 'notifications' ? 'active' : '') %>"><a href="/settings/notifications">Notification Center</a></li>
              <!-- <li class="<%= (stype === 'billing' ? 'active' : '') %>"><a href="/settings/billing">Billing</a></li> -->
              <li class="<%= (stype === 'security' ? 'active' : '') %>"><a href="/settings/security">Security/Privacy</a></li>
              <!-- <li class="<%= (stype === 'apps' ? 'active' : '') %>"><a href="/settings/apps">Connected Apps</a></li> -->
            </ul>
          <hr>
            <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-cloud-upload"></span> Upload Batch</button>
        </div>

        <div class="col-md-1">
        </div>

        <div class="col-md-5">

          <% include messages.html %>
<% 
    switch (stype) {
      case "profile":
%>
          <form class="form" role="form" action="/settings/profile_picture" method="post">
            <div class="form-group">
              <label for="picture">Profile Picture</label>
              <br>
              <img id="picture" data-src="holder.js/80x80/auto" alt="avatar" class="img-rounded">
              <button type="button" class="btn btn-default">Upload</button>
            </div>
          </form>

          <form class="form" role="form" action="/settings/profile" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
            </div>
            <div class="form-group">
              <label for="pemail">Email (public)</label>
              <input type="pemail" class="form-control" id="pemail" name="pemail" value="<%= data.pemail %>">
            </div>
            <div class="form-group">
              <label for="url">URL</label>
              <input type="text" class="form-control" id="url" name="url" value="<%= data.url %>" placeholder="www.mysite.com">
            </div>
            <div class="form-group">
              <label for="social">Social Networks</label>
              <input type="text" class="form-control" id="social" name="social" value="<%= data.social %>" placeholder="twitter.com/be, be.tumblr.com">
              <p class="help-block">Just separate addresses with commas; we'll take care of the rest. </p>
            </div>
            <div class="form-group">
              <label for="locn">Current Location</label>
              <input type="text" class="form-control" id="locn" name="locn" value="<%= data.locn %>">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

<!-- Account -->
<%
        break;
      case "account":
%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
              <form class="form" role="form" action="/settings/account" method="post">
                <div class="form-group">
                  <label for="oldpassword">Old Password</label>
                  <input type="password" class="form-control" id="oldpassword" name="oldpassword">
                </div>
                <div class="form-group">
                  <label for="newpassword1">New Password</label>
                  <input type="password" class="form-control" id="newpassword1" name="newpassword1">
                </div>
                <div class="form-group">
                  <label for="password2">Confirm New Password</label>
                  <input type="password" class="form-control" id="newpassword2" name="newpassword2">
                </div>
                <button type="submit" name="submit" value="password" class="btn btn-default">Update Password</button>
              </form>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Change Login</h3>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="form-group">
                  <label for="email">Change Login Email</label>
                  <input type="text" class="form-control" id="email" value="<%= username %>">
                </div>
                <button type="submit" name="submit" value="login" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>

          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Delete Account</h3>
            </div>
            <div class="panel-body">
            <div role="form">
              <div class="form-group">
                <label for="email">Delete Account</label>
                <p class="help-block">Before doing anything crazy, make sure you <a href="#">check</a> or <a href="#">export</a> your data! <i>This cannot be undone.</i></p>
              </div>
              <button class="btn btn-primary btn-danger" data-toggle="modal" data-target="#myModal"> Delete </button>
            </div>
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <form class="form" role="form" action="/settings/account" method="post">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Really delete it?</h4>
              </div>
              <div class="modal-body">
                <p>
                  Deleting your account <i>cannot be undone</i>.  Type DELETE below to verify you're serious about it!
                </p>
                <input type="text" id="verif" class="form-control" name="verif" autocomplete="off"/>
                <br />
                <p id="delReply">
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="delSubmit" name="submit" value="delete" disabled="disabled" class="btn btn-danger">Delete Account</button>
              </div>
            </div>
            </form>
          </div>
        </div>

<!-- Notification Center -->
<%
        break;
      case "notifications":
%>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Notifications</h3>
            </div>
            <div class="panel-body">
              You can add as many email addresses and phone numbers as you like. Notifications will be forwarded to all of them simultaneously. Currently, you have:<br><br>
            
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>nikos@vasilak.is <span class="label label-success">Notifications</span> <span class="label label-success">Login</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>nikos.ailo@gmail.com <span class="label label-success">Notifications</span> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>(+1)2345678912 <span class="label label-success">Notifications</span> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
                  </tr>
                </tbody>
              </table>
              <label >Add email address or phone</label>
              <form class="form-inline" role="form">
                <div class="form-group">
                  <input type="email" class="form-control" id="addemail">
                </div>
                <button type="submit" class="btn btn-default">Add</button>
              </form>
            </div>
          </div>

<!-- security -->
<%
        break;
      case "security":
%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Security Log</h3>
            </div>
            <div class="panel-body">
              <p>This is a security log of important events involving your account.</p>
            
              <table class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <td><b>obj.action<b> – subject</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><small>2 days ago</small></td>
                  </tr>
                  <tr>
                    <td><b>obj.action<b> – subject</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><small>3 days ago</small></td>
                  </tr>
                  <tr>
                    <td><b>obj.action<b> – subject</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><small>3 days ago</small></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
<%
  }
%>

        </div>
      </div>

      <hr>

<% include subfooter.html %>
    </div> <!-- /container -->
<% include footer.html %>
